
body{
  background-color: #a9f1d3
  /* #B1A296; */
  /* rgb(194, 250, 231) */
}

form.signup,
form.login {
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

h4,h5,.header-style{
  font-family: 'Times New Roman', Times, serif;

}
.btn-style{
  background-color: #e27d60;
  font-size: 18px;
}

#firstName-input, 
#lastName-input, 
#gender-input, 
#dob-input,
#email-input,
#password-input{
  background-color: rgb(240, 247, 240)
}

.navbar{
  padding:30px;
  background-color: rgb(159, 189, 180)
}

.nav-members{
  font-family: 'Times New Roman', Times, serif;
  padding:15px;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(159, 189, 180);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.footer-style{
  position: fixed;
}
